{:paths ["src" "resources"]
 :deps {
        com.hyperfiddle/hyperfiddle {:local/root "../hyperfiddle"}
        }
 :aliases {:lein {:extra-deps {com.hyperfiddle/hyperfiddle {:mvn/version "0.3.0-SNAPSHOT"}}}}}
