(fn [ctx tx-from-modal]
  (let [branch (hypercrud.browser.auto-anchor-formula/auto-entity-dbid ctx)
        id' (-> (js/Date.now) - str)
        ; alter the dbid before transacting so it can be reused.
        ; This has to happen at a side-effect point and will cause a hydrate
        ; so we do it when we already have to hydrate.
        tx-from-modal' (->> tx-from-modal
                         (mapv (fn [[op dbid a v]]
                                 (if (= (:id dbid) branch)
                                   [op (hypercrud.types.DbId/->DbId id' (:conn-id dbid)) a v]
                                   [op dbid a v]))))]
    {:tx tx-from-modal'}))
