(fn [ctx multi-color-tx modal-route]
  (let [entity-id (get-in modal-route [:request-params :entity :db/id]) ; e.g. table-cell value or form-field value
        parent-id (get-in ctx [:cell-data :db/id])          ; e.g. table-row entity or form entity
        attr (get-in ctx [:attribute :db/ident])
        parent-child-ref (hypercrud.client.tx/edit-entity parent-id attr [] [entity-id])]
    {:tx {(:uri ctx) parent-child-ref}}))