{:require [hyperfiddle.test-runner]
 :init-fns [hyperfiddle.test-runner/run]
 :compiler-options {:optimizations :none
                    :preloads [hyperfiddle.test-preamble]
                    :target :nodejs}}
