{:require [hyperfiddle.test-runner]
 :init-fns [hyperfiddle.test-runner/run]
 :compiler-options {
                    ;:checked-arrays :warn                   ; this is too noisey due because of reagent0.7
                    :optimizations :none
                    :preloads [hyperfiddle.test-preamble]
                    :target :nodejs}}
