{:require [hyperfiddle.test-preamble
           hyperfiddle.test-runner]
 :init-fns [hyperfiddle.test-preamble/init
            hyperfiddle.test-runner/run]
 :compiler-options {:optimizations :none
                    :target :nodejs}}
