(let [hide-datomic (contrib.reactive/atom true)
      hide-archived (contrib.reactive/atom true)
      needle (contrib.reactive/atom nil)
      db-attr? #(<= (:db/id %) 62)
      archived? #(cuerdas.core/starts-with? (namespace (:db/ident %)) "zzz") ; "zzz/" and "zzz.", we are inconsistent. It should be modeled and queried and never shown
      do-filter-reactive (fn [xs]                           ; perf sensitive
                           (as-> xs xs
                             (if @hide-datomic (remove db-attr? xs) xs)
                             (if @hide-archived (remove archived? xs) xs)
                             (if (contrib.string/blank->nil @needle)
                               (filter #(cuerdas.core/includes? (-> % :db/ident str) @needle) xs) xs)))]
  (fn [ctx class]
    [:div {:class class}
     [hyperfiddle.ui/markdown (-> ctx :hypercrud.browser/fiddle deref :db/doc)]
     [:div [:label [:input {:type "checkbox" :checked @hide-datomic :on-change #(swap! hide-datomic not)}] " hide Datomic system attributes"]]
     [:div [:label [:input {:type "checkbox" :checked @hide-archived :on-change #(swap! hide-archived not)}] " hide Hyperfiddle archived attributes"]]
     [contrib.ui.input/input* @needle #(do (reset! needle %))
      {:placeholder ":task/title"}]
     (let [ctx (-> ctx
                 (dissoc :hypercrud.browser/data :hypercrud.browser/data-cardinality)
                 (update :hypercrud.browser/result (partial contrib.reactive/fmap do-filter-reactive #_(contrib.reactive/partial filter f?)))
                 (hypercrud.browser.context/focus [:body]))]
       [hyperfiddle.ui/table
        (fn [ctx]
          [(hyperfiddle.ui/field [0 :db/ident] ctx)
           (hyperfiddle.ui/field [0 :db/valueType] ctx nil {:read-only true})
           (hyperfiddle.ui/field [0 :db/cardinality] ctx nil {:read-only true})
           (hyperfiddle.ui/field [0 :db/unique] ctx nil {:read-only true})
           (hyperfiddle.ui/field [0 :db/isComponent] ctx)
           (hyperfiddle.ui/field [0 :db/fulltext] ctx nil {:read-only true})
           (hyperfiddle.ui/field [0 :db/doc] ctx)
           (hyperfiddle.ui/field [0] ctx)])
        hyperfiddle.data/sort-fn
        ctx])]))
