fieldset {
    padding: 10px;
    border-width: 1px;
}

.truncate {
    max-width: 140px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    width: 100%;
}

input[type="text"],
input[type="password"] {
    box-sizing : border-box;
}

input.invalid[type="text"] {
    border-color: red;
}

.half-width {
    width: 50%;
    display: inline-block;
}

.ui-table {
    border-collapse: collapse;
}

.ui-table thead td {
    background-color: #dbdbdb;
}

.ui-table td {
    border: 1px solid #a8a8a8;
}

.ui-table td.link-cell {
    border: none;
    background-color: inherit;
}

.form {
    margin-bottom: 2px;
}

.field {
    border-left: 5px solid #428bca;
    padding: 0 10px;
}

.field > label {
    display: inline-block;
    width: 20%;
    vertical-align: top;
}

.field > input,
.field > textarea{
    /* todo merge this with .field > .value */
    width: 80%;
}

.field > .value {
    width: 80%;
    display: inline-block;
}

.value > table {
    width: 100%;
}

.editable-select > .select {
    display: block;
    overflow: hidden;
    padding-right: 10px;
}
.editable-select > .edit {
    float: right;
}

.multi-select-group > .form {
    display: block;
    overflow: hidden;
    padding-right: 10px;
}

.multi-select-group > button {
    display: block;
    float: right;
}

.multi-select-group > .editable-select {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
}

.radio-group > * {
    width: auto;
    display: inline-block;
}

td > .radio-boolean > .radio-group {
    display: inline-block;
}

.table-controls > select {
    width: auto;
}

.master-detail {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row;
}

.master-detail > ul {
    flex: 0 0 175px;
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
}

.master-detail > div {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}

.master-detail li.selected {
    font-weight: bold;
    /*border-right-width: 0;*/
}
/*
.master-detail li.selected a:hover {
    background-color: inherit;
}

.master-detail li a:hover {
    background-color: #dbdbdb;
}

.master-detail li {
    display: block;
    border: 1px solid #428bca;
    border-bottom-width: 0;
}

.master-detail li a {
    height: 1.5em;
    display: block;
    padding: 0.5em 1em;
    text-decoration: none;
}
*/
.master-detail .field {
    border: none;
}

.master-detail .field > * {
    display: block;
    width: 100%;
}

.link-menu {
    width: 80px;
    border: 0 solid #a8a8a8;
    border-bottom-width: 1px;
}

.link-menu > * {
    display: block;
    border-style: solid;
    border-color: #a8a8a8;
    border-width: 1px 0 0 1px;
}

.link-menu > *:hover {
    background-color: #dbdbdb;
}
